[project]
name = "hays-t"
version = "0.1.0"
description = "Add your description here"
authors = [
    { name = "ajia", email = "yyjfwoaini@gmail.com" }
]
dependencies = [
    "haystack-ai>=2.5.1",
    "datasets>=2.6.1",
    "sentence-transformers>=3.0.0",
    "ollama-haystack>=1.0.0",
    "colorama>=0.4.6",
    "pydantic>=2.9.1",
    "huggingface_hub>=0.23.0",
    "markdown-it-py>=3.0.0",
    "mdit-plain>=1.0.1",
    "pypdf>=4.3.1",
    "gdown>=5.2.0",
    "gradio>=4.44.0",
    "jupyterlab>=4.2.5",
    "update>=0.0.1",
    "openai-whisper>=20240930",
    "python-docx>=1.1.2",
    "docx>=0.2.4",
    "llama-cpp-python>=0.2.90",
    "whisper-cpp-python>=0.2.0",
    "groq>=0.11.0",
]
readme = "README.md"
requires-python = ">= 3.8"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = []

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/hays_t"]
